<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="some_frame" default="intermediate_link" />
	<arg name="freq" default="10" />
	<arg name="adj_inter" default="false" />
	<!-- static move-->
	<arg name="static" default="false"/>
	<arg if="$(arg static)" name="node_pkg" value="tf2_ros" />
	<arg if="$(arg static)" name="node_type" value="static_transform_publisher" />
	<arg unless="$(arg static)"   name="node_pkg" value="ar_test" />
	<arg unless="$(arg static)"   name="node_type" value="adjustable_node" />
	<!--arg unless="$(arg static)"   name="node_type" value="modifiable_fixed_transform_publisher.py" /-->




	
	<group ns="fake_imu_broadcasters">		
		<node pkg="$(arg node_pkg)" type="$(arg node_type)" name="torso" args="1 1.4 0 		0 0 0 1 $(arg some_frame) imu/torso   " />
		<node pkg="$(arg node_pkg)" type="$(arg node_type)" name="pelvis" args="1 1.2 0 	0 0 0 1 $(arg some_frame) imu/pelvis  " />

	</group>
	<!-- torso pelvis femur_r femur_l tibia_r tibia_l talus_r talus_l -->

	<!-- for these to work, we need to have the model still with markers -->
	<group ns="fake_ar_broadcasters">
		<node pkg="$(arg node_pkg)" type="$(arg node_type)" name="thorax" args="0 0 0 	0 0 0 1 $(arg some_frame) ar/thorax " />
		
		<!-- i havent done those yet though they need like markers in the model and the yaml file thing -->
		<node pkg="$(arg node_pkg)" type="$(arg node_type)" name="pelvis" args="0 0 0 	0 0 0 1 $(arg some_frame) ar/pelvis  " />
	</group>



	<group ns="essential_tf_broadcasters">
		<node pkg="$(arg node_pkg)" type="$(arg node_type)" name="map_to_world_opensimrt_broadcaster" args="0 0 0  0 0 0 1 map world   " />
		<arg name="ioption0" value = " 0      0.     0      1    "/>
		<arg name="ioption1" value = " 0      0.707  0      0.707"/>
		<arg name="ioption2" value = "-0.707  0      0.707  0    "/>
		<arg name="ioption3" value = "-0.5   -0.5    0.5    0.5  "/>
		<arg name="ioption4" value = "-0.5    0.5   -0.5    0.5  "/>
		<arg name="ioption5" value = " 0.707  0      0.707  0    "/>
		<arg name="ioption6" value = " 0.5  0.5      -0.5  -0.5   "/>
		<node pkg="$(arg node_pkg)" type="$(arg node_type)" name="imu_ref_broadcaster" args="1 1 -1   $(arg ioption5) opensim_frame imu_ref_ori " output="screen"/>


		<!-- option 2 looks the closest to the osim visualization-->
		<arg name="ooption0" value = " 0      0      0      1    "/>
		<arg name="ooption1" value = " 0.707  0      0      0.707"/>
		<arg name="ooption2" value = " 0.5    0.5    0.5    0.5  "/>
		<arg name="ooption3" value = " 0      0.707  0.707  0    "/>
		<arg name="ooption4" value = "-0.5    0.5    0.5   -0.5  "/>
		<node pkg="tf2_ros" type="static_transform_publisher" name="opensimtf_broadcaster3" args="-1.0 0 0  $(arg ooption3) map opensim_frame   " />

		<!-- I haven't derived this, but I have made the movable node show me all possible transformations that look right, and there are only 4! so we inspect them one by one -->
		<!-- node pkg="ar_test" type="modifiable_fixed_transform_publisher.py" name="opensimtf_broadcaster1" args="0 0 0  0.707 0 0 0.707 map opensim_frame   " / -->
		<!-- node pkg="$(arg node_pkg)" type="$(arg node_type)" name="opensimtf_broadcaster2" args="0 0 0  0.5 0.5 0.5 0.5 map opensim_frame   " / -->
		<!--node pkg="$(arg node_pkg)" type="$(arg node_type)" name="opensimtf_broadcaster4" args="0 0 0  -0.5 0.5 0.5 -0.5 map opensim_frame   " / -->
		<arg name="noption0" value = " 0      0      0      1    "/>
		<arg name="noption1" value = " 0      0     -1      0    "/>
		<node unless="$(arg adj_inter)" pkg="$(arg node_pkg)" type="$(arg node_type)" name="inter_broadcaster" args="0 0 0   $(arg noption0) imu intermediate_link "/>
	</group>

	<!-- the args in the launch prefix has the minus minus together! -->
	<!-- node unless="$(arg adj_inter)" pkg="$(arg node_pkg)" type="$(arg node_type)" name="inter_broadcaster" args="0 0 0   0 0 0.707 0.707 imu intermediate_link " launch-prefix="gdb -ex run - -args" output="screen"/ -->
	<!--node unless="$(arg adj_inter)" pkg="$(arg node_pkg)" type="$(arg node_type)" name="inter_broadcaster" args="0 0 0   0 0 0.707 0.707 imu intermediate_link " output="screen"/ -->
	<!--node unless="$(arg adj_inter)" pkg="$(arg node_pkg)" type="$(arg node_type)" name="inter_broadcaster" args="0 0 0   0 0.707 0 0.707 imu intermediate_link " output="screen"/ -->






</launch>

